MONGO_URI=
PORT=5001
JWT_SECRET=secret
CLIENT_URL=http://localhost:3000
RESET_PASSWORD_SECRET=secretpass

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=secret
callbackURL=http://localhost:5001/api/auth/google/callback
clientURL=http://localhost:3000